/*---------------------------------------------------------------------------------------------------
                                               GENERAL
-----------------------------------------------------------------------------------------------------*/
@keyframes neon-blink {

  0%,
  2%,
  4%,
  6%,
  100% {
    box-shadow:
      0 0 5px #ff0bc2,
      0 0 10px #ff0bc2,
      0 0 15px #ff47ff,
      0 0 20px #ff47ff;
    border-color: #ff0bc2;
  }

  1%,
  3%,
  5% {
    box-shadow: none;
    border-color: #111010;
  }
}

html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #FFF;

}

/* El contenedor principal debe ocupar todo el espacio restante */
main {
  flex: 1;
  background-color: #000;
  color: #FFF;
  /* Asegurar que el fondo del main sea negro */
  padding: 20px;
  /* Añadir padding para evitar que el contenido toque los bordes */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Tilt Neon', serif;
  color: #ff47ff;
  text-shadow:
    0 0 1px #ff47ff,
    0 0 2px #ff47ff,
    0 0 4px #ff0bc2,
    0 0 6px #ff0bc2;
}

.btn {
  font-family: 'Roboto', sans-serif;
}

.input-group .form-control {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none !important;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-primary,
.btn-primary:hover {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary:focus {
  background-color: #ff47ff !important;
  border: 1px #ff47ff !important;
  outline: none !important;
  box-shadow: none !important;
}

.input-group .form-control {
  background-color: #333;
  /* Fondo del input en gris oscuro */
  border: none;
  color: #FFF;
}

.input-group .btn {
  background-color: #FFC30B;
  /* Botón de búsqueda en amarillo */
  border: none;
  color: #000;
  /* Texto negro en el botón */
}

/*---------------------------------------------------------------------------------------------------
                                               
-----------------------------------------------------------------------------------------------------*/

/* Estilos para la lista de películas */
#popular-list,
#trending-list,
#movies-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#popular-list li,
#trending-list li,
#movies-list li {
  margin: 0.5rem;
  text-align: center;
  flex-basis: 200px;
  /* Set the desired width for each container */
}

#popular-list img,
#trending-list img,
#movies-list img {
  width: 100%;
  height: auto;
  min-height: 300px;
  display: block;
  margin: 0 auto;
}

#popular-list a,
#trending-list a,
#movies-list a {
  text-decoration: none;
  color: #333;
}

#popular-list a:hover,
#trending-list a:hover,
#movies-list a:hover {
  color: #007bff;
}

/* Estilos para el contenedor del carrusel */
.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

/* Estilos para las diapositivas del carrusel */
.carousel-item {
  display: flex;
  justify-content: space-around;
  /* Espacio alrededor de cada elemento */
  align-items: center;
  flex: 0 0 100%;
  /* Ocupa el 100% del ancho */
}

/* Estilos para las imágenes del carrusel */
.carousel-item .row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  /* Espacio alrededor de cada imagen */
  align-items: center;
  width: 100%;
  /* Asegura que las imágenes ocupen el 100% del contenedor */
}

.carousel-item .col-md-2 {
  flex: 0 0 18%;
  /* Ajusta este valor para que las imágenes ocupen más espacio */
  max-width: 18%;
  /* Ajusta este valor para que las imágenes ocupen más espacio */
  padding: 0 5px;
  /* Ajusta el padding según sea necesario */
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* Ajusta la imagen para que cubra el contenedor sin distorsionar la relación de aspecto */
  border-radius: 10px;
  /* Opcional: añadir borde redondeado a las imágenes */
  animation: neon-blink 10s infinite;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.row.no-gutters>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.movie-link img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-link:hover img {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Estilos para las reseñas en la home */
.top-reviews {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  width: 100%;
  /* Asegurar que ocupe todo el ancho */
}

.review {
  background-color: #111;
  border: 1px solid #333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
}

.top-reviews .review-content {
  display: flex;
}

.top-reviews .text-content {
  flex: 1;
  word-wrap: break-word;
}

.top-reviews .text-content p{
  word-wrap: break-word;
}

.top-reviews .poster {
  max-width: 150px; /* Ajusta el tamaño según sea necesario */
  margin-right: 20px;
}

.review p {
  color: #FFF;
}

.review strong {
  color: #FFC30B;
  /* Título de la película en amarillo */
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  /* Asegurar que ocupe todo el ancho */
  max-width: 1200px;
  /* Limitar el ancho máximo */
  animation: neon-blink 10s infinite;

}

#suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background-color: #fff;
  width: 200px;
  z-index: 1000;
}

#suggestions li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

#suggestions li:last-child {
  border-bottom: none;
}

#suggestions li:hover {
  background-color: #f0f0f0;
}

.form-container {
  position: relative;
}

.reset-button {
  margin-top: 20px;
}

/* Estilos para el layout */

.navbar {
  background-color: #333;
  /* Fondo de la navbar en gris oscuro */
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  color: #FFD700;
  /* Enlaces en la navbar en amarillo */
}

.nav-link:hover {
  color: #FFF;
  /* Cambio de color al pasar el mouse */
}

footer {
  background-color: #ccae05 !important;
  padding: 20px 0;
  text-align: center;
}

/* Página de búsqueda de películas */
.search-page {
  padding: 20px;
  background-color: #111010;
  color: #FFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  animation: neon-blink 10s infinite;
}

.search-page h2 {
  color: #ff47ff;
  /* Títulos en amarillo */
  margin-top: 20px;
  text-align: center;
}

.search-page .input-group .form-control {
  background-color: #333;
  /* Fondo del input en gris oscuro */
  border: none;
  color: #FFF;
}

.search-page .input-group .btn {
  background-color: #FFC30B;
  /* Botón de búsqueda en amarillo */
  border: none;
  color: #000;
  /* Texto negro en el botón */
}

.search-page .pagination {
  display: block;
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.search-page .pagination a,
.search-page .pagination span {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 3px;
  color: #333;
  background-color: #fff;
  text-decoration: none;
}

.search-page .pagination a:hover {
  background-color: #FFC30B;
  /* Cambiar el color de fondo al pasar el mouse */
}

.search-page .pagination .active {
  background-color: #FFC30B;
  color: #000;
  border-color: #FFC30B;
}

.search-page ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.search-page li {
  width: 200px;
  margin: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search-page li:hover {
  transform: scale(1.05);
}

.search-page img {
  width: 100%;
  border-radius: 5px;
}

.search-page p {
  color: #FFF;
}

.search-page a.btn-primary {
  display: inline-block;
  margin-top: 20px;
  background-color: #FFC30B;
  border-color: #FFC30B;
  color: #000;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.search-page a.btn-primary:hover {
  background-color: #ff47ff;
  border-color: #ff47ff;
  color: #000;
}

/*---------------------------------------------------------------------------------------------------
                                               MOVIES.SHOW
-----------------------------------------------------------------------------------------------------*/


.movie-detail-container {
  padding: 20px;
  background-color: #111010;
  border: 1px solid #ff47ff!important;
  border-radius: 5%;
  animation: neon-blink 10s infinite;
}

.movie-detail-container h1,
.movie-detail-container h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.movie-detail-container h1::after,
.movie-detail-container h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: #ff47ff;
  box-shadow:
    0 0 5px #ff0bc2,
    0 0 10px #ff0bc2,
    0 0 15px #ff47ff,
    0 0 20px #ff47ff;
  animation: neon-blink 10s infinite;
}

.movie-detail-container-info {
  padding-bottom: 20px;
  position: relative;
}

.movie-detail-container-info::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: #FFC30B;
  box-shadow: 
  0 0 5px #ff0bc2,
  0 0 10px #ff0bc2,
  0 0 15px #ff47ff,
  0 0 20px #ff47ff;
  animation: neon-blink 10s infinite;
}

.movie-detail-container img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.btn-secondary,
.btn-primary {
  background-color: #FFC30B;
  /* Color miel */
  border: none;
  color: #000;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.btn-secondary:hover,
.btn-primary:hover {
  background-color: #FFC30B;
  color: #fff;
}

.select-style {
  width: 100%;
  padding: 10px;
  border: 1px solid #FFC30B;
  background-color: #000;
  color: #fff;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.review .rating i {
  color: #FFC30B;
}

.icon-container .btn {
  background: none;
  border: none;
  color: #FFC30B;
  cursor: pointer;
}

/* Estilos para el modal */

.modal-content {
  background-color: #111010 !important;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #FFC30B;
}

.modal-header {
  border-bottom: 1px solid #FFC30B;
}

.modal-header .close {
  color: #FFC30B;
}

.modal-header .close:hover {
  color: #ff47ff;
}

.modal-title {
  color: #FFC30B;
  text-shadow: 0 0 3px #FFC30B, 0 0 6px #FFC30B, 0 0 8px #FF6347, 0 0 10px #FF6347;
}

.form-group label {
  color: #FFC30B;
}

.form-control {
  background-color: #333;
  border: none;
  color: #FFF;
}

.form-control:focus {
  background-color: #444;
  color: #FFF;
}

.btn-primary {
  background-color: #FFC30B;
  border-color: #FFC30B;
  color: #000;
}

.btn-primary:hover {
  background-color: #ff47ff;
  border-color: #ff47ff;
}

.movies_show_add_watchlist_btn,
.movies_show_goback_btn,
.movies_show_review_btn {
  margin-top: 20px !important;
  background-color: #FFC30B !important;
  border-color: #FFC30B !important;
  color: #000 !important;
  text-align: center !important;
  padding: 10px 20px !important;
  text-decoration: none !important;

}

.movies_show_add_watchlist_btn:hover,
.movies_show_goback_btn:hover,
.movies_show_review_btn:hover {
  background-color: #ff47ff !important;
  border-color: #ff47ff !important;
  color: #000 !important;
}

/* Página de creación de reseñas */
.review-form-container {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
}

.review-form-container h1 {
  color: #ff47ff;
  margin-bottom: 20px;
}

.review-form-container .form-group label {
  color: #FFC30B;
}

.review-form-container .form-control {
  background-color: #333;
  border: none;
  color: #FFF;
}

.review-form-container .btn-primary {
  background-color: #FFC30B;
  border-color: #FFC30B;
  color: #000;
  display: block;
  /* Hacer que el botón sea un bloque */
  width: 100%;
  /* Hacer que el botón ocupe todo el ancho */
  margin-top: 20px;
  /* Añadir margen superior */
}

.review-form-container .btn-primary:hover {
  background-color: #ff47ff;
  border-color: #ff47ff;
}

.review-form-container a {
  color: #FFC30B;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.review-form-container a:hover {
  text-decoration: underline;
}

/* Página de edición de reseñas */
.review-edit-page {
  padding: 20px;
  background-color: #111010;
  color: #FFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.review-edit-page h1 {
  color: #ff47ff;
  margin-bottom: 20px;
  text-align: center;
}

.review-edit-page .form-group label {
  color: #FFC30B;
}

.review-edit-page .form-control {
  background-color: #333;
  border: none;
  color: #FFF;
}

.review-edit-page .form-control:focus {
  background-color: #444;
  color: #FFF;
}

.review-edit-page .btn-primary {
  background-color: #FFC30B;
  border-color: #FFC30B;
  color: #000;
  width: 100%;
}

.review-edit-page .btn-primary:hover {
  background-color: #ff47ff;
  border-color: #ff47ff;
}

/* Limitar el tamaño del div de reseñas y permitir el desplazamiento */
.reviews-container {
  max-height: 400px;
  /* Puedes ajustar la altura máxima según tus necesidades */
  overflow-y: auto;
  border: 1px solid #444;
  /* Añadir un borde para mejor visibilidad */
  padding: 10px;
  /* Añadir padding para separar el contenido del borde */
  background-color: #1a1a1a;
  /* Fondo gris oscuro */
  border-radius: 5px;
}

/* Estilos para navegadores basados en WebKit (Chrome, Safari) */
.reviews-container::-webkit-scrollbar {
  width: 10px;
}

.reviews-container::-webkit-scrollbar-track {
  background: #333;
  /* Color del track de la scrollbar */
  border-radius: 5px;
}

.reviews-container::-webkit-scrollbar-thumb {
  background-color: #FFC30B;
  /* Color del thumb de la scrollbar */
  border-radius: 5px;
  border: 2px solid #333;
  /* Espacio entre el thumb y el track */
}

/* Estilos para Firefox */
.reviews-container {
  scrollbar-color: #FFC30B #333;
  /* thumb y track */
  scrollbar-width: thin;
}

.edit-btn,
.delete-btn {
  flex: none !important;
  padding: 2px 5px;
  /* Ajustar el padding del botón */
  font-size: 0.75rem;
  /* Ajustar el tamaño del texto del botón */
}



/* Estilos para la calificación por estrellas */
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  font-size: 2rem;
  color: #FFC30B;
}

.star {
  cursor: pointer;
  transition: color 0.3s;
}

/* Página del Juego de Adivinación de Películas */
.guess-game-page {
  padding: 20px;
  text-align: center;
}

.guess-game-page h1 {
  margin-top: 20px;
}

.guess-game-page p {
  color: #FFF;
  /* Texto blanco */
}

.guess-game-page .form-container {
  margin-top: 20px;
}

.guess-game-page .form-container form {
  display: inline-block;
  margin-bottom: 20px;
}

.guess-game-page .form-container input[type="text"] {
  background-color: #333;
  /* Fondo del input en gris oscuro */
  border: none;
  color: #FFF;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.guess-game-page .form-container button {
  background-color: #FFC30B;
  /* Botón en amarillo */
  border: none;
  color: #000;
  /* Texto negro */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.guess-game-page .form-container button:hover {
  background-color: #ff47ff;
}

.guess-game-page .form-container #suggestions {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
  border: 1px solid #ddd;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
  width: 200px;
  z-index: 1000;
  position: absolute;
}

.guess-game-page .form-container #suggestions li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.guess-game-page .form-container #suggestions li:last-child {
  border-bottom: none;
}

.guess-game-page .form-container #suggestions li:hover {
  background-color: #f0f0f0;
}

.guess-game-page .form-container .btn-next-clue {
  background-color: #FFC30B;
  /* Botón de pista siguiente en gris oscuro */
  border: none;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.guess-game-page .form-container .btn-next-clue:hover {
  background-color: #FFC30B;
}

/* Estilos para posicionar la lista de sugerencias */
.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #000 !important;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background-color: #333 !important;
  width: 100%;
  z-index: 1000;
  left: 0;
  top: 100%;
  /* Posiciona la lista justo debajo del input */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.suggestions-list li:last-child {
  border-bottom: none;
}

.suggestions-list li:hover {
  background-color: #222 !important;
}

/* Estilos adicionales para el contenedor del formulario */
.form-container {
  position: relative;
}

.input-group {
  position: relative;
}

.input-group .form-control {
  width: 100%;
}

/* Estilos de la página de perfil */
.profile-page {
  padding: 20px;
  background-color: #111010;
  color: #FFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.profile-header {
  margin-bottom: 30px;
  text-align: center;
}

.profile-photo {
  border: 2px solid #FFC30B;
}

.followers-following {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
}

.followers-following div {
  text-align: center;
}

.followers-following a {
  color: #FFC30B;
  text-decoration: none;
}

.followers-following a:hover {
  color: #FFC30B;
  text-decoration: none;
}

.nav-tabs .nav-link {
  color: #FFC30B;
}

.nav-tabs .nav-link.active {
  background-color: #FFC30B;
  color: #111010;
}

.tab-content {
  margin-top: 20px;
}

.list-group-item {
  background-color: #FFC30B;
  border: 1px solid #FFC30B;
  color: #FFF;
}

.btn-primary {
  background-color: #FFC30B;
  border-color: #FFC30B;
  color: #000;
}

.btn-primary:hover {
  background-color: #ff47ff;
  border-color: #ff47ff;
}

.btn-danger {
  background-color: #ff4c4c;
  border-color: #ff4c4c;
}

.btn-danger:hover {
  background-color: #e04444;
  border-color: #e04444;
}

.reviews-container,
.followers-following,
.following-reviews {
  margin-top: 20px;
}

.reviews-container ul,
.followers-following ul,
.following-reviews ul {
  padding: 0;
  list-style: none;
}

.reviews-container li,
.followers-following li,
.following-reviews li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #FFF;
  /* Asegura que el texto sea blanco */
  background-color: #444;
  /* Asegura que el fondo sea un gris oscuro para contraste */
}

/* Estilos específicos para la página de seguidores y seguidos */
.followers-page,
.followings-page {
  padding: 20px;
  background-color: #111010;
  color: #FFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.followers-page h1,
.followings-page h1 {
  color: #ff47ff;
  font-size: 2rem;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.followers-page .list-group,
.followings-page .list-group {
  background-color: #111010;
  border: none;
}

.followers-page .list-group-item,
.followings-page .list-group-item {
  background-color: #333 !important;
  border: 1px solid #444 !important;
  color: #FFF !important;
  border-radius: 5px !important;
  margin-bottom: 10px !important;
}

.followers-page .list-group-item:hover,
.followings-page .list-group-item:hover {
  background-color: #444 !important;
}

.followers-page a,
.followings-page a {
  color: #FFC30B;
  text-decoration: none;
}

.followers-page a:hover,
.followings-page a:hover {
  color: #ff47ff;
  text-decoration: none;
}



/* Asegurarnos de que los iconos estén alineados y tengan el mismo tamaño */
.review .btn-link {
  color: #FFC30B;
  font-size: 1.5em;
}

.review .btn-link:hover {
  color: #ff47ff;
}

/* Color de los contadores de likes y dislikes */
.like-count,
.dislike-count {
  color: #FFC30B;
  margin-left: 5px;
}

.like-count:hover,
.dislike-count:hover {
  color: #ff47ff;
}

/* Estilos de la lista de Watchlists */
.watchlist-title {
  width: 100%;
}


/* Estilo para el icono de eliminar */
.delete-form {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  /* Asegurarse de que esté por encima del enlace */
}

.delete-form .btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
}

.delete-form .btn:hover {
  color: #ff4c4c;
}

/* Estilos de la página de Watchlists */
.watchlists-page {
  padding: 20px;
  background-color: #111010;
  color: #FFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.watchlists-page h1 {
  color: #ff47ff;
  margin-bottom: 20px;
}

.watchlists-page .form-group label {
  color: #FFC30B;
}

.watchlists-page .form-control {
  background-color: #333;
  border: none;
  color: #FFF;
}

.watchlists-page .form-control:focus {
  background-color: #444;
  color: #FFF;
}

.watchlists-page .btn-primary {
  background-color: #FFC30B;
  border-color: #FFC30B;
  color: #000;
  width: 100%;
}

.watchlists-page .btn-primary:hover {
  background-color: #ff47ff;
  border-color: #ff47ff;
}

.watchlists-page .alert-success {
  background-color: #4caf50;
  border-color: #4caf50;
  color: #FFF;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.watchlists-page a {
  color: #FFC30B;
  text-decoration: none;
}

.watchlists-page a:hover {
  text-decoration: underline;
}

.watchlists-page p {
  text-align: center;
}

.watchlists-page .list-group-item {
  background-color: #333;
  border: 1px solid #444;
  color: #FFF;
  margin-bottom: 10px;
  padding: 0;
  position: relative;
}

.watchlists-page .list-group-item:hover {
  background-color: #444;
}

.watchlists-page .list-group-item a.full-width-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  /* Add padding for clickable area */
  color: inherit;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.watchlists-page .list-group-item a.full-width-link:hover {
  color: inherit;
  text-decoration: none;
}

/* Estilos de la página de una Watchlist específica */
.watchlist-page {
  padding: 20px;
  background-color: #111010;
  color: #FFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.watchlist-page h1 {
  color: #ff47ff;
  margin-bottom: 20px;
}

.watchlist-page .card {
  background-color: #333;
  border: 1px solid #444;
}

.watchlist-page .card img {
  border-bottom: 1px solid #444;
}

.watchlist-page .card-title {
  color: #ff47ff;
}

.watchlist-page .btn-danger {
  background-color: #ff4c4c;
  border-color: #ff4c4c;
}

.watchlist-page .btn-danger:hover {
  background-color: #e04444;
  border-color: #e04444;
}

.watchlist-page .btn-secondary {
  background-color: #FFC30B;
  border-color: #FFC30B;
}

.watchlist-page .btn-secondary:hover {
  background-color: #FFC30B;
  border-color: #FFC30B;
}

/* Limitar el tamaño del div de Watchlists y permitir el desplazamiento */
.watchlists-container {
  max-height: 400px;
  /* Puedes ajustar la altura máxima según tus necesidades */
  overflow-y: auto;
  border: 1px solid #444;
  /* Añadir un borde para mejor visibilidad */
  padding: 10px;
  /* Añadir padding para separar el contenido del borde */
  background-color: #111010;
  /* Fondo gris oscuro */
  border-radius: 5px;
}

/* Estilos de la página de inicio de sesión */
.login-page {
  padding: 20px;
  background-color: #111010;
  color: #FFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.login-page h1 {
  color: #ff47ff;
  margin-bottom: 20px;
  text-align: center;
}

.login-page .form-group label {
  color: #FFC30B;
}

.login-page .form-control {
  background-color: #333;
  border: none;
  color: #FFF;
}

.login-page .form-control:focus {
  background-color: #444;
  color: #FFF;
}

.login-page .btn-primary {
  background-color: #FFC30B;
  border-color: #FFC30B;
  color: #000;
  width: 100%;
}

.login-page .btn-primary:hover {
  background-color: #ff47ff;
  border-color: #ff47ff;
}

.login-page .alert-danger {
  background-color: #ff4c4c;
  border-color: #ff4c4c;
  color: #FFF;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.login-page a {
  color: #FFC30B;
  text-decoration: none;
}

.login-page a:hover {
  text-decoration: underline;
}

.login-page p {
  text-align: center;
}

/* Estilos de la página de registro */
.register-page {
  padding: 20px;
  background-color: #111010;
  color: #FFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.register-page h1 {
  color: #ff47ff;
  margin-bottom: 20px;
  text-align: center;
}

.register-page .form-group label {
  color: #FFC30B;
}

.register-page .form-control {
  background-color: #333;
  border: none;
  color: #FFF;
}

.register-page .form-control:focus {
  background-color: #444;
  color: #FFF;
}

.register-page .btn-primary {
  background-color: #FFC30B;
  border-color: #FFC30B;
  color: #000;
  width: 100%;
}

.register-page .btn-primary:hover {
  background-color: #ff47ff;
  border-color: #ff47ff;
}

.register-page .alert-danger {
  background-color: #ff4c4c;
  border-color: #ff4c4c;
  color: #FFF;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.register-page a {
  color: #FFC30B;
  text-decoration: none;
}

.register-page a:hover {
  text-decoration: underline;
}

.register-page p {
  text-align: center;
}

/* Estilos adicionales para los iconos en la home page */
.top-reviews .review .icon-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-reviews .review .icon-container form {
  display: inline;
}

.top-reviews .review .icon-container .btn {
  background: none;
  border: none;
  color: #FFC30B;
  font-size: 1.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.top-reviews .review .icon-container .btn:hover {
  color: #ff47ff;
}

.top-reviews .review .icon-container .count {
  color: #FFC30B;
}

.top-reviews .review .icon-container .count:hover {
  color: #ff47ff;
}

.top-reviews .review .rating .fa-star {
  color: #FFD700;
  margin-right: 2px;
}



/* Estilos adicionales para los iconos en la página de detalles de la película */
.movie-detail-container .review .icon-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.movie-detail-container .review .icon-container form {
  display: inline;
}

.movie-detail-container .review .icon-container .btn {
  background: none;
  border: none;
  color: #FFC30B;
  font-size: 1.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.movie-detail-container .review .icon-container .btn:hover {
  color: #ff47ff;
}

.movie-detail-container .review .icon-container .count {
  color: #FFC30B;
}

.movie-detail-container .review .icon-container .count:hover {
  color: #ff47ff;
}

.review .rating .fa-star {
  color: #FFD700;
  margin-right: 2px;
}

/* Estilos adicionales para los iconos en "Mis Reseñas" */
.icon-group {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  margin-top: 10px;
}

.icon-group .btn-link {
  color: #FFC30B;
  font-size: 1.5em;
}

.icon-group .btn-link:hover {
  color: #ff47ff;
}

.list-group-item {
  display: flex;
  flex-direction: column;
  background-color: #333 !important;
  border: 1px solid #444 !important;
  color: #FFF !important;
  border-radius: 5px !important;
  margin-bottom: 10px !important;
}

.list-group-item .icon-group {
  justify-content: flex-start;
  margin-top: 10px;
}

.noresults {
  color: #fff;
}